In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
cols=['year','month','day','decimal date','molfrac','days','1 year ago','10 years ago','since 1880']
data=pd.read_csv('http://localhost:8906/notebooks/ML/datacourse/machine-learning/data/co2_weekly_mlo.txt',sep='\s+',header=None, names=cols)

In [7]:
data

,year,month,day,decimal date,molfrac,days,1 year ago,10 years ago,since 1880
0,<!DOCTYPE,HTML>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,<html>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,<head>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,<meta,"charset=""utf-8"">",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,<title>Jupyter,Notebook</title>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
212,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,_remove_token_from_url();,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,</script>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,</body>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,</html>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN